.jumbotron{
    text-align: center;
}


.container{
    height: 90vh;
}

.row{
    height: 65px;
}



input{
    height: 100%;
    width: 100%;
}


button{
    width: 100%;
    height: 98%;
    border-radius: 0 !important;
}


.greenBG{
    background-color: rgb(62, 173, 62);
}

.greyBG{
    background-color: rgb(185, 180, 180);
}

.redBG{
    background-color: rgb(212, 120, 120);
}